
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

body {
  font-family: 'Roboto Flex', sans-serif;
}

h1 {
  margin-left: 5px;
  letter-spacing: 5px

}

.container_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08415C;
  width: 50%;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #08415C;
  display:none
}

.image_size {
  width: 80px
}

.temperature_size {
  font-size: 40px;
  color: #CC2936
}

.container_title {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center
}

.location_size {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  color: #EBBAB9;
  letter-spacing: 5px
}

.container_description {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  color: #388697
}

#date {
  color: #388697;
  letter-spacing: 5px
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #DDC9B4;
  font-size: 11px;
  text-indent: -99999em;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #2A3D45;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #2A3D45;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}